<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Ücretsiz Python Projeleri</title>

  <!-- Bootstrap Core CSS -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="static/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic,400italic,700italic"
    rel="stylesheet" type="text/css">
  <link href="static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="static/css/stylish-portfolio.min.css" rel="stylesheet">
  <style>
    .masthead {
      background-image: url('/static/img/atakan41.png');
    }
  </style>

</head>

<body id="page-top">

  <!-- Navigation -->
  <a class="menu-toggle rounded" href="#">
    <i class="fas fa-bars"></i>
  </a>
  <nav id="sidebar-wrapper">
    <ul class="sidebar-nav">
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#page-top">Anasayfa</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#about">Ben Kimim?</a>
      </li>
      <li class="sidebar-nav-item">
        <a class="js-scroll-trigger" href="#portfolio">Python Projeleri</a>
      </li>
    </ul>
  </nav>

  <!-- Header -->
  <header class="masthead d-flex">
    <div class="container text-center my-auto">
      <h1 class="mb-1">Atakan Özsan</h1>
      <h3 class="mb-5">
        <em>Ücretsiz Python Projeleri</em>
      </h3>
      <a class="btn btn-primary btn-xl js-scroll-trigger" href="#about">Beni Tanı!</a>
    </div>
    <div class="overlay"></div>
  </header>

  <!-- About -->
  <section class="content-section bg-light" id="about">
    <div class="container text-center">
      <div class="row">
        <div class="col-lg-10 mx-auto">
          <h2>Ben Kimim?</h2>
          <!--boğaziçinin logosunu, linkini falan ekle-->
          <p class="lead mb-5"> Alıştırma veya kendini geliştirmek için yazdığı kodalrı burada paylaşan bir öğrenci.</p>
        <a class="btn btn-primary btn-xl js-scroll-trigger" href="#portfolio">Projeler</a>
        </div>
      </div>
    </div>
  </section>

  <!-- yaptığın siteler --> <!--site linki koy-->
  <section class="content-section" id="portfolio">
    <div class="container">
      <div class="content-section-heading text-center">
        <h2 class="mb-5">Python Projeleri</h2>
      </div>
      <div class="row no-gutters">
        <div class="col-lg-6">
          <a class="portfolio-item" href="/youtube_video_indirici">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Youtube Video İndirici</div>
                <p class="mb-0" style="color: black;"><b>İstediğin videonun linkini gir, bilgisayarına .mp4 olarak insin!</b> </p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/yd1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/yazihiztesti">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Yazı Hızı Testi</div>
                <p class="mb-0" style="color: black;">Ne kadar hızlı yazdığını önüne çıkan rasgele bir metinle test et!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/yht1.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/inthiztesti">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">İnternet Hız Testi</div>
                <p class="mb-0" style="color: black;">Sadece birer tuşla download ve upload hızını saniyeler içinde öğren!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/is1.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/snakegame">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Yılan Oyunu</div>
                <p class="mb-0" style="color: black;">Nostaljinin yapı taşlarından yılan oyununu ister özelleştir ister oyna!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/snakegameee.png" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/notfcs">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Bildirimler</div>
                <p class="mb-0" style="color: black;"> Sadece birkaç satır kodla masaüstüne nasıl bildirim göndereceğini gör. (Yalnızca Windows için çalışmaktadır)</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/nt1.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/rps">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Taş-Kağıt-Makas</div>
                <p class="mb-0" style="color: black;">Bilgisayara karşı şansınız sınırlarını zorla, bakalım neler yapabileeksin!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/rps2.png" alt="" width="385" >
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/qrcodegen">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: yellowgreen;"><b>QR Kod Oluşturucu</b> </div>
                <p class="mb-0" style="color: maroon;"></p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/qr2.png" alt="" width="370">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/passgen">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" >Şifre Oluşturucu</div>
                <p class="mb-0" >Şifre oluştururken karar veremiyor musun, bırak bilgisayarın senin için yapsın. Sen sadece tuşa bas!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/pass3.jpg" alt="">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/sendmail">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Mail Gönder</div>
                <p class="mb-0" style="color: black;">Python ile kolayca nasıl mail gönderebileceğini öğren! (Yalnızca @gmail.com için geçerlidir.)</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/mail2.png" alt="" width="700">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/facedetector">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Yüz Algılayıcı</div>
                <p class="mb-0" style="color: black;">Sadece çalıştır ve bilgisayarın kamerandan seni bulsun!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/face2.png" alt="" width="355">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/instabot">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">İnstagram Bot</div>
                <p class="mb-0" style="color: black;">İnstagram'da yeterince aktif değil misin, bırak bot'un senin için her şeyi yapsın!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/insta2.jpg" alt="" width="370">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/fidgetspinner">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Stres Çarkı</div>
                <p class="mb-0" style="color: black;">Gerildiğinizde sizi yumuş yumuş yapacak bir oyun, boşluk tuşunu kırmayın sakın!</p>
              </div>
            </div>
            <img class="img-fluid" src="/static/images/FS2.jpg" alt="" width="518">
          </a>
        </div>
        <div class="col-lg-6">
          <a class="portfolio-item" href="/virtualassist">
            <div class="caption">
              <div class="caption-content">
                <div class="h2" style="color: black;">Yapay Asistan</div>
                <p class="mb-0" style="color: black;">Sana cevap veren ve özelleştirebileceğin bir asistan, neden denemiyorsun?</p>
              </div>
            </div>
            <img class="img-fluid" src="static/img/portfolio-4.jpg" alt="">
          </a>
        </div>
      </div>
    </div>
  </section>



  <!-- Footer -->
  <footer class="footer text-center">
    <div class="container">
      <ul class="list-inline mb-5">
        
        <li class="list-inline-item">
          <a class="social-link rounded-circle text-white mr-3" href="https://www.instagram.com/atakan_zsn/">
            <i class="icon-social-instagram"></i>
          </a>
        </li>
        
      </ul>
      <p class="text-muted small mb-0">Copyright &copy; Your Website 2020</p>
    </div>
  </footer>

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded js-scroll-trigger" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>

  <!-- Bootstrap core JavaScript -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="static/js/stylish-portfolio.min.js"></script>

</body>

</html>